.git
.gitignore
.dockerignore

.ipynb_checkpoints/
__pycache__/
*.py[cod]
.DS_Store

Images/
roi_test_set_max640/
roi_test_set_max480/
shrinked_for_training_bb/
all_images_full/
images_to_fix/
deprecated/
new/

bbRegressionMicroservice/logs/
learning_curves/
readme_images/
/*.png
*.ipynb
*.pkl
*.csv
*.gz
